body{
    background-color: lightgray;
    font-family: Arial;
}

#container,
#container2{
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#anoInput{
    width: 200px;
    height: 30px;
}

select{
    width: 200px;
    height: 30px;
    margin-top: 10px;
}

#botaoAno,
#botao{
    width: 100px;
    height: 30px;
    margin-top: 15px;
}

#resultadoAno,
#resultado{
    margin-top: 20px;
    font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input[type=number]{
    -moz-appearance: textfield;
}